body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: ghostwhite;
    background-image: url(img/whirlpool.png);
}


/* 
==================
====== MENU ======
==================
*/

#menu-menu-principal {
    background-color: ghostwhite;
    padding: 0px;
    margin: 0px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    letter-spacing: 2px;
    border-bottom: 1px solid #DED6C8;
}

#menu-menu-principal ul,
#social-navigation ul {
    padding: 0px;
}

#menu-menu-principal li,
#social-navigation li,
#menu-menu-principal select {
    display: inline-block;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #5C0819;
    cursor: pointer;
}

#menu-menu-principal a,
#social-navigation a {
    text-decoration: none;
    color: #5C0819;
}

#menu-menu-principal input {
    text-decoration: none;
    color: #888;
    background-color: transparent;
    border: 1px solid #888;
}

#menu-menu-principal a:hover {
    color: #444;
}

#menu-menu-principal a:hover {
    color: #444;
}


/* 
==================
===== HEADER =====
==================
*/

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: ghostwhite;
}

.custom-logo {
    padding: 50px;
}


/* 
==================
===== CONTENT =====
==================
*/

.post {
    background-color: ghostwhite;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 4px 10px;
    padding: 15px;
    transition: opacity .4s ease-in-out;
}

.post img {
    border-bottom: 1px solid #DED6C8;
    padding-bottom: 15px;
    border-radius: 5px;
}

.post h2 {
    font-size: 0.9em;
    line-height: 1.5;
}

.post a {
    text-decoration: none;
    color: #1B6F8F;
}

.columns:hover .post:not(:hover) {
    opacity: 0.4;
}

#content {
    width: 100%;
    max-width: 1100px;
    min-width: ;
    margin: 50px auto;
}

.post {
    display: inline-block;
}

@media (min-width: 500px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 860px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


/* 
==================
===== CONTENT =====
==================
*/

#menu-menu-reseaux-sociaux {
    background-color: ghostwhite;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    letter-spacing: 2px;
}

#menu-menu-reseaux-sociaux ul {
    padding: 0px;
}

#menu-menu-reseaux-sociaux li {
    display: inline-block;
    margin: 0px;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

#menu-menu-reseaux-sociaux a {
    text-decoration: none;
    color: #888;
}

#menu-menu-reseaux-sociaux a:hover {
    text-decoration: none;
    color: #444;
}

.site-info {
    padding: 25px;
    font-size: 0.8em;
    background-color: ghostwhite;
    text-align: center;
    text-decoration: none;
    color: #888;
}

.site-info a {
    color: #444;
    text-decoration: none;
}


/* 
==================
=== PAGINATION ===
==================
*/

.pagination h2 {
    display: none;
}

.nav-links {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 0.9em;
    color: #888;
}

.nav-links a {
    color: #888;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    color: #444;
}


/* 
=======================
=== PAGE - ARTICLES ===
=======================
*/

.site-main article {
    background-color: ghostwhite;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 4px 10px;
    padding: 15px;
    transition: opacity .4s ease-in-out;
}

.site-main img {
    border-bottom: 1px solid #DED6C8;
    padding-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.main h2 {
    font-size: 0.9em;
    line-height: 1.5;
}

.main a {
    text-decoration: none;
    color: #1B6F8F;
}

.columns:hover .post:not(:hover) {
    opacity: 0.4;
}

#content {
    width: 100%;
    max-width: 1100px;
    min-width: ;
    margin: 50px auto;
}

.site-main article {
    display: inline-block;
}

@media (min-width: 500px) {
    .site-main {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 860px) {
    .site-main {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    .site-main {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}



.page-header h1 {
display: none}




/* 
=======================
=== AUTHOR-BIO ===
=======================
*/

.author main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author h1,
.author a {
    color: #1b6f8f;
    text-decoration: none;
}

.author article  {
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    box-shadow: none;
}

.author img {
    width: 30%;
    margin: 0 auto;
    border-radius: 100%;
    margin-top: 50px;
}

.entry-footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    border-top: 1px solid #888;
    margin-top: 30px;
    padding-top: 30px;
}